extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2
      i.far.fa-building.fa-sm
      | Classes Scheduled via Zoom
  table.table.table-striped.table-bordered
    thead
      tr
        th Meeting ID
        th Topic
        th Start Date
        th URL
    tbody
      for m in meeting
        tr
          td= m.id
          td= m.topic
          td= m.start_time
          td= m.join_url
